@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@300&display=swap');

.attribution { 
    font-size: 11px;
    text-align: center;
}
    
.attribution a {
    color: hsl(228, 45%, 44%); 
}

body{
    margin: 0;
    background-color: black;
}

.container{
    display: block;
}

.card{
    height: 50%;
    width: 20%;
    border-radius: 5%;
    background-image: linear-gradient(hsl(213, 19%, 18%) ,hsl(216, 12%, 8%));
    padding: 2%;
    margin: 10% auto;

    font-family: 'Overpass', sans-serif;
    font-weight: 400 700;
    font-size: 15px;
}

.star{
    display: flex;
    height: 40px;
    width: 40px;
    background-color: rgba(124, 135, 152, .3);
    border-radius: 50%;
    align-items: center;
    justify-content: center;
}

.star-img{
    margin: 25%;
}

h2{
    color: hsl(0, 0%, 100%);    
}

.msg{
    
    color: hsl(216, 12%, 54%);
}

.rating-buttons{
    display: flex;
    justify-content: space-between; 
    margin-top: 10%; 
    margin-bottom: 10%;

}

.rating-button{
    display: flex;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.2);
    /* opacity: 30%; */
    /* check background color and it's opacity */
    height: 40px;
    width: 40px;
    
    /* margin: 10% auto; */

    align-items: center;
    justify-content: center;
/* Work on the opacity */
    color: rgba(149, 158, 172, 1);
}

.one{
    margin-left: 0;
}


.submit{
    width: 100%;
    height: 30%;
    font-family: 'Overpass', sans-serif;
    font-weight: bold;
    letter-spacing: 4px;
    padding: 10px;
    border-radius: 25px;

    /* border-left: 100%;
    border-right: 100%; */

    color:hsl(0, 0%, 100%);
    background-color: hsl(25, 97%, 53%);

}



.rating-button:hover{
    background-color: hsl(25, 97%, 53%);
    color: hsl(0, 0%, 100%);
    opacity: 100%;
    cursor: pointer;
    /* Work on animation and smooth transition */
    animation-name: rating-hover;
    animation-duration: 500ms;

}

.submit:hover{
    background-color: hsl(0, 0%, 100%);
    color:hsl(25, 97%, 53%);
    cursor: pointer;
    animation: submit-hover 500ms;
}

.error{
    margin: 20px auto;
    color: red;
}
/* Thanking state */

.thank-you-state{
    display: none;
}

.thank-image{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

.display-selection{
    margin: 20px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    color: hsl(25, 97%, 53%);
    height: 25px;
    width: 75%;
    background-color: rgba(149, 158, 172, .1);
    border-radius: 25px;
}

.response-text{
    text-align: center;
}

@keyframes rating-hover {
    100% {background-color: hsl(25, 97%, 53%);}
    0% {background-color:  hsl(217, 12%, 63%);}
    /* 100% {background-color:  hsl(216, 12%, 54%);} */
}

@keyframes submit-hover {
    0% {background-color: hsl(25, 97%, 53%);}
    100% {background-color:  hsl(0, 0%, 100%);}
    /* 100% {background-color:  hsl(216, 12%, 54%);} */
}


@keyframes rating-exit {
    0% {background-color: hsl(25, 97%, 53%);}
    50% {background-color: hsl(0, 0%, 100%);}
    100% {background-color:  hsl(217, 12%, 63%);}
    /* 100% {background-color:  hsl(216, 12%, 54%);} */
}
/* Adding responsiveness */

img {
    min-width: 50%;
  max-width: 100%;
}

@media screen and (width: 375px) {
    body {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .card{
        width: 185px;
    }
  }
